@model firstWebapp.ViewModels.MoviesViewModel;

@{
    ViewData["Title"] = "Movies";
}

<h2>Movies</h2>

@if(Model.Movies.Count() == 0){

    <p>No movies has been rented</p>
}else{
    
   <table class="table table-hover table-bordered">

       <tr>
           <th>Movies</th>
       </tr>

        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>@movie.Name</td>
            </tr>
        }
   </table>
}
